body {
    font-family: Arial, sans-serif;
    cursor: grab;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#descript {
    margin-top: 20px;
    font-size: 20px;
}

#output {
    margin-top: 20px;
    font-size: 40px;
}

#instructions {
    margin-top: 20px;
    font-size: 20px;
}

.frozen {
    font-weight: bold;
}